.Hero {
  display: inline-flex;
  width: 100%;
  height: 859px;
  padding: 137px 525px 612px 525px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-shrink: 0;

  border-radius: 0px 0px 400px 0px;
  border-bottom: 4px solid #fff;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("/careerhero.png") lightgray 50% / cover no-repeat;
  background-size: 100% 100%;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  position: relative;
}

.title {
  color: #fff;

  font-family: Manrope;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  white-space: nowrap;
  margin-top: 0px;
}

.subtitle {
  color: #dedddd;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.teamBlue {
  color: #0190ff;
  font-family: Manrope;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

@media (min-width: 320px) and (max-width: 600px) {
  .hero {
    padding: 24px 4vw 36px 4vw;
    height: auto;
    border-radius: 0px 0px 800px 0px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
  .title {
    font-size: 1rem;
    text-align: center;

    white-space: normal;
    margin-top: 0;
    word-break: break-word;
  }
  .teamBlue {
    font-size: 1.4rem;
  }
  .subtitle {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.1rem;
    word-break: break-word;
    margin-left: 2.4rem;
  }
}

.JobFilters {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  margin: 9.75rem 0;
}

.FilterButton {
  color: #fff;
  background: black;

  border-radius: 40px;
  padding: 0.75rem 2.5rem;
  font-size: 1.1rem;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
  width: 319px;
  height: 79px;
  flex-shrink: 0;
  color: #fff;

  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.3px;
}

.DepartmentDropdown {
  position: relative;
  display: inline-block;
}

.DropdownIcon {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 0.2s;
}

.DropdownIconOpen {
  transform: rotate(180deg);
}

.DropdownMenu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;

  border-radius: 0.5rem;
  min-width: 180px;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  flex-direction: column;
}

.DepartmentDropdown:hover .DropdownMenu {
  display: flex;
}

.DropdownMenuItem {
  display: flex;
  width: 319px;
  height: 54px;
  padding: 18px 81px 18px 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px 4px 0px 0px;
  border: 0.5px solid #cbcbcb;
  background: #000;
}

.DropdownMenuItem:hover {
  border: 0.5px solid #cbcbcb;
  background: #0190ff;
}

.JobOpeningsHeading {
  color: #a7a7a7;

  font-family: Manrope;
  font-size: 76px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px; /* 23.684% */
  letter-spacing: 2.28px;
  text-transform: uppercase;
  margin-top: 15.1rem;
  margin-left: 13.75rem;
}

.JobOpeningsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 16.25rem;
}

.JobOpeningRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 1rem;
  padding: 6.25rem 17.37rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.JobDepartment {
  color: #fff;

  font-family: Manrope;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 163%; /* 97.8px */
  text-transform: capitalize;
}

.JobSubtitle {
  color: #0190ff;

  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%; /* 52.16px */
  text-transform: capitalize;
}

.ApplyNowButton {
  display: inline-flex;
  padding: 14px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #959393;
}
.ApplyNowButton:hover {
  border-radius: 12px;
  border: 1px solid #0190ff;
  box-shadow: 0px 0px 10px #0190ff;
  background: #000;
}
.ApplyNowButtonActive {
  border-radius: 12px;
  border: 1px solid var(--Linear, #0075ff);
  background: var(
    --Linear,
    linear-gradient(
      127deg,
      #000 17.06%,
      #00152c 38.41%,
      #002958 59.76%,
      #002958 60.36%,
      #001329 84.94%
    )
  );
}
