@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  /* Theme colors */
  --bg-primary: #000;
  --text-primary: #fff;
  --text-secondary: #d1d5db;
  --accent: #0090ff;
  --danger: #ef4444;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000000;
}

.dot-pattern {
  background-image: radial-gradient(
    circle,
    rgba(0, 144, 255, 0.3) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}

.gradient-text {
  background: linear-gradient(90deg, #0090ff, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero-gradient {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 144, 255, 0.2);
}

/* Hero section specific styles */
.hero-section {
  position: relative;
  overflow: hidden;
  background-color: #010b1d;
  display: flex;
  align-items: flex-start;
}

.stat-box {
  background-color: transparent;
  border: 1px solid rgba(0, 144, 255, 0.3);
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-box-highlighted {
  background-color: rgba(0, 144, 255, 0.2);
  border: 2px solid #0090ff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.stat-card-highlighted {
  box-shadow: 0 0 20px rgba(0, 144, 255, 0.5);
  border-color: rgba(0, 144, 255, 0.8) !important;
  background: rgba(0, 144, 255, 0.1);
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(-7.872deg);
  }
  to {
    transform: rotate(352.128deg);
  }
}

@keyframes rotate-counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.custom-button:hover {
  border: 2px solid #0090ff;
  background-color: #0a0a1a;
  color: #0090ff;
}
