.ProductPage {
  min-height: 100vh;
  background: #000;
  color: #fff;
  font-family: "Manrope", sans-serif;
  z-index: 1;
  overflow-x: hidden;
}
.ContentWrapper {
  width: 100%;
  flex-grow: 1;
}

.ProductHero {
  width: 100%;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: grayscale(100%);
  background-image: url("/productherobg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ProductHeroContent {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
}

.ProductHeroHeading {
  margin-top: 5rem;
  font-size: 65px;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 907px;
  line-height: normal;
}

.Highlight {
  color: #0090ff;
}

.ProductHeroSubheading {
  color: #d1d5db; /* text-gray-300 */
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  max-width: 688px;
}

.OurProductButton {
  margin-top: 4rem;
  padding: 28px 80px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 600;
  margin-top: 157px;
  transition: color 0.2s, border-color 0.2s;
  background: none;
  cursor: pointer;
}

.OurProductButton:hover {
  color: #0090ff;
  border-color: #0090ff;
}

@media screen and (max-width: 768px) {
  .ProductHero {
    width: 100%;

    display: flex;
  }

  .ProductHeroContent {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ProductHeroHeading {
    margin-top: 0.1rem;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

    line-height: normal;
  }

  .Highlight {
    color: #0090ff;
    font-size: 30px;
  }

  .ProductHeroSubheading {
    color: #d1d5db; /* text-gray-300 */
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .OurProductButton {
    padding: 8px 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 67px;
    transition: color 0.2s, border-color 0.2s;
    background: none;
    cursor: pointer;
    width: 150px;
    height: 70px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }

  .OurProductButton:hover {
    color: #0090ff;
    border-color: #0090ff;
  }
}
@media screen and (maxwidth: 480px) {
  .ProductHero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ProductHeroContent {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .ProductHeroHeading {
    margin-top: 0.1rem;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

    line-height: normal;
  }

  .Highlight {
    color: #0090ff;
    font-size: 30px;
  }

  .ProductHeroSubheading {
    color: #d1d5db; /* text-gray-300 */
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .OurProductButton {
    padding: 8px 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 67px;
    transition: color 0.2s, border-color 0.2s;
    background: none;
    cursor: pointer;
    width: 150px;
    height: auto; /* Adjusted for smaller screens */
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }
}
@media screen and (max-width: 425px) {
  .ProductHero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ProductHeroContent {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .ProductHeroHeading {
    margin-top: 0.1rem;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

    line-height: normal;
  }

  .Highlight {
    color: #0090ff;
    font-size: 30px;
  }

  .ProductHeroSubheading {
    color: #d1d5db; /* text-gray-300 */
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .OurProductButton {
    padding: 8px 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 67px;
    transition: color 0.2s, border-color 0.2s;
    background: none;
    cursor: pointer;
    width: 150px;
    height: auto; /* Adjusted for smaller screens */
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }
}
/* Products Section */
.ProductSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/Productspage.svg"), url("/Productspagebg.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;

  background-size: contain, contain; /* or use `auto`, `100%`, etc. */
  z-index: 1;
}
.ProductsSection {
  padding: 0 8rem;
}
.topApp {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .ProductsSection {
    flex-direction: column;
    padding: 0 2rem;
  }
}
.ProductsSectiotLeft {
  display: flex;
  flex-direction: column;
}
.LeftHeading {
  font-size: 4rem;
}
.Highlight2 {
  background: linear-gradient(180deg, #fff 37.5%, #474646 93.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-weight: 800;
}
.LeftSubHeading {
  max-width: 600px;
  width: 100%;
  color: #c3c3c3;

  font-family: Manrope;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: 152%; /* 48.64px */
  text-transform: capitalize;
}

.PrductsSectionFilter {
  display: flex;

  flex-direction: row;
  gap: 1.5rem; /* Space between buttons */
  margin: 8.688rem 0 2.5rem 0;
  align-items: center;
  justify-content: center;
}

.FilterButton,
.PlatformButtonWithIcon {
  color: #9f9f9f;
  text-align: center;
  font-family: Manrope;
  font-size: 33.556px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.746px; /* 118.447% */
  letter-spacing: 0.199px;

  display: flex;
  width: 243.28px;
  height: 75.151px;
  padding: 12.202px 80.916px 15.949px 82.364px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 84.518px;
  border: 1.525px solid #9f9f9f;
  gap: 2.3rem;

  margin: 0;
  transition: background 0.2s, color 0.2s;
}

.FilterButton:hover,
.productsSelect:hover {
  background: #0090ff;
  color: #fff;
}

.ProductsFilter {
  display: flex;
  align-items: center;
}
.PlatformOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
  border-radius: 0.75rem;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.PlatformOption {
  display: block;
  padding: 0.75rem 1.5rem;
  background-color: black;

  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.PlatformOption:hover,
.PlatformOption:focus {
  background-color: #007bff;
  color: white;
  outline: none;
}
.DevicesDropdown,
.PlatformDropdown {
  position: relative; /* So absolute dropdown stays within this */
  cursor: pointer;
}

.PlatformOptions {
  position: absolute;
  top: 100%; /* Place right below the button */
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
  border-radius: 0.75rem;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 100%; /* Match width of parent button */
}
.PlatformDropdownIcon {
  display: flex;
  transition: transform 0.3s ease;
}

.iconRotated {
  transform: rotate(180deg);
}
@media (max-width: 600px) {
  .PlatformOptions {
    flex-direction: column;
    gap: 0.75rem;
  }

  .PlatformOption {
    width: 100%;
    text-align: center;
  }
}

/* Right Section */
.productSectionRight {
  max-width: 935px;
  width: 100%;
  aspect-ratio: 935/563;
  background: #18181b;
  background-image: url("/flagshipbg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  border-radius: 24px;
  padding: 2rem;
  gap: 12rem;

  display: flex;

  /* Center horizontally */
}

.ProductSectionImage {
  width: 357.244px;
  height: 293.329px;
  border-radius: 24.638px;
  object-fit: cover;
}
.ProductSectionLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProductSectionLeft h4 {
  color: #0d0d0d;
  font-family: Manrope;
  font-size: 45.654px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;

  text-align: center;
  display: block;
  white-space: nowrap;
}
.ProductSectionRightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.ProductSectionFlagship {
  width: 272px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 0px 0px 0px 34.5px;
  background: #b32700;
  align-items: end;
}
.ProductSectionFlagship h2 {
  color: #fff;

  font-family: Inter;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  width: 272px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 0px 24px 0px 34.5px;
  background: #b32700;

  text-align: end;
}

/* Apps Grid */
.productsgridSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;

  gap: 4rem;
  margin-top: 12rem;
}
.ProductSectionStats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ProductSectionStatBox {
  width: 205px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 8.847px;
  border: 1.712px solid #101010;

  background: #49bfff;
  color: #101010;
}
.ProductSectionStatBox p {
  font-family: Manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}
.ProductSectionSeeMoreButton {
  width: 219px;
  height: 68px;
  flex-shrink: 0;

  border-radius: 9.437px;
  border: 1.786px solid #343434;
  margin-top: 3.438rem;
  margin-left: 13.375rem;
}
.ProductSectionSeeMoreButton a {
  width: 160px;
  height: 36.881px;
  flex-shrink: 0;
  color: #111;
  font-family: Manrope;
  font-size: 26.796px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.938%;
  margin-right: 2.5rem;
}
@media (min-width: 640px) {
  .productsgridSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

.AppsgridContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #4b5563;

  background-image: url("/Appgrid.png");
  background-repeat: no-repeat;
  background-size: cover; /* fixed from cover → background-size */
  padding: 2rem;
  gap: 4rem;

  width: 100%;
  max-width: 819px;
  aspect-ratio: 819/493;
}

.AppsGridLeft {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.AppsGridRight {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}
.AppsName {
  color: #fff;
  font-family: Manrope;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  white-space: nowrap;
  text-align: center;
}

.Appsgridimages {
  width: 100%;
  max-width: 313px;

  aspect-ratio: 313/ 257;
  position: relative;
}

.AppsImages {
  width: 100%;
  width: 100%;
  max-width: 313px;

  aspect-ratio: 313/ 257;
  object-fit: contain;
  border-radius: 0.5rem;
}

.AppsStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
  justify-content: space-between;
}

.AppsStatBox {
  width: 160px;
  height: auto;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: center;
}

.AppsStatBox p {
  color: #fff;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .productsgridSection {
    padding: 2rem;
  }
  .AppsgridContainer {
    padding: 1.5rem;
  }

  .AppsGridLeft,
  .AppsGridRight {
    flex: 1 1 100%;
    align-items: center;
  }

  .AppsStats {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .AppsStatBox {
    margin: 0;
    padding: 0.5rem;
  }

  .AppsName {
    font-size: 1.5rem;
  }
}

.SeemoreButton {
  width: 215px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 9.257px;
  border: 1px solid var(--Linear, #0090ff);
  margin-left: 2.5rem;
}
.SeemoreButton:hover {
  background: var(
    --Linear,
    linear-gradient(
      127deg,
      #000 17.06%,
      #00152c 38.41%,
      #002958 59.76%,
      #002958 60.36%,
      #001329 84.94%
    )
  );
}
.SeemoreButton a {
  color: #bababa;

  font-family: Manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.938%;
  margin-right: 2rem;
}

/* Load More */
.AppGridLoadmore {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
  background: transparent;

  z-index: 2;
}

.LoadMoreButton {
  display: flex;
  max-width: 290px;
  max-height: 80px;
  width: 100%;
  padding: 21.818px 145.455px;
  justify-content: center;
  align-items: center;
  gap: 18.182px;
  flex-shrink: 0;
  border-radius: 90.909px;
  border: 1px solid white;
  background: #282828;
  margin-top: 5.563rem;
}
.LoadMoreButton a {
  width: 140px;
  color: #fff;

  text-align: center;
  font-family: Manrope;
  font-size: 29.091px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.LoadMoreButton:hover {
  background: var(
    --Linear,
    linear-gradient(
      127deg,
      #000 17.06%,
      #00152c 38.41%,
      #002958 59.76%,
      #002958 60.36%,
      #001329 84.94%
    )
  );
}
@media screen and (max-width: 1280px) {
  .ProductsSection {
    padding: 1.5rem 2rem;
    gap: 1rem;
  }
  .ProductsSectiotLeft {
    display: flex;
    flex-direction: row;
  }
  .ProductsSectionbg {
    opacity: 1;
  }

  .ProductsSectiotLeft {
    width: 100%;
  }

  .LeftHeading {
    font-size: 48px;
    width: 100%;
    line-height: 1.2;
  }

  .LeftSubHeading {
    font-size: 1.5rem;
  }

  .productSectionRight {
    flex: 1;
    display: flex;
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  .ProductsSection {
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
  }

  .ProductsSectionbg {
    width: 100%;
    opacity: 1;
  }

  .ProductsSectiotLeft {
    width: 100%;
  }
  .topApp {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .LeftHeading {
    font-size: 48px;
    width: 100%;
    line-height: 1.2;
  }

  .LeftSubHeading {
    display: none;
  }

  .PrductsSectionFilter {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    margin-top: 0;
  }

  .FilterButton,
  .PlatformButtonWithIcon {
    font-size: 18px;
    width: 100%;
    max-width: 280px;
    padding: 10px 20px;
    height: auto;
  }
  .productsgridSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.125rem;
    flex: 1;

    z-index: 2;
    background-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .ProductsSection {
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
  }

  .ProductsSectionbg {
    width: 100%;
    opacity: 1;
  }

  .ProductsSectiotLeft {
    width: 100%;
  }

  .LeftHeading {
    font-size: 36px;
    width: 100%;
    line-height: 1.2;
  }

  .LeftSubHeading {
    display: none;
  }

  .PrductsSectionFilter {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .FilterButton,
  .PlatformButtonWithIcon {
    font-size: 18px;
    width: 100%;
    max-width: 280px;
    padding: 10px 20px;
    height: auto;
  }
  .productSectionRight {
    flex: 1;
    display: flex;
    background-size: cover;
    gap: 2rem;
  }
  .productsgridSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.125rem;
    flex: 1;
    margin-top: 2rem;
    z-index: 2;
    background-color: transparent;
  }
}
/* Base: up to 425px (mobile small) */
@media (max-width: 425px) {
  .ProductsSection {
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
  }

  .ProductsSectionbg {
    width: 100%;

    opacity: 1;
  }

  .ProductsSectiotLeft {
    width: 100%;
  }

  .LeftHeading {
    font-size: 36px;
    width: 100%;
    line-height: 1.2;
  }
  .Highlight2 {
    font-size: 3rem;
  }
  .LeftSubHeading {
    display: none;
  }

  .PrductsSectionFilter {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .FilterButton,
  .PlatformButtonWithIcon {
    font-size: 18px;
    width: 100%;
    max-width: 280px;
    padding: 10px 20px;
    height: auto;
  }

  .productSectionRight {
    flex: 1;
    display: flex;
    background-size: cover;
    gap: 2rem;
  }

  .FlagshipAppconatiner {
    position: absolute;
    inset: 0;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Flagship {
    background: #ef4444;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.75rem;
  }

  .ProductSectionImage {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 24.638px;

    max-width: 357.244px;
    max-height: 293.329px;
  }
  .ProductSectionLeft h4 {
    color: #0d0d0d;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
  }
  .ProductSectionFlagship {
    width: 72px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 0px 0px 0px 34.5px;
    background: #b32700;
  }
  .ProductSectionFlagship h2 {
    color: #fff;

    font-family: Inter;
    font-size: 10px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;

    flex-shrink: 0;
    border-radius: 0px 24px 0px 34.5px;

    text-align: center;
  }
  /* Apps Grid */
  .productsgridSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.125rem;
    flex: 1;

    z-index: 2;
    background-color: transparent;
  }

  .ProductSectionStats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .ProductSectionStatBox {
    width: 100px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 8.847px;
    border: 1.712px solid #101010;

    background: #49bfff;
    color: #101010;
  }
  .ProductSectionStatBox p {
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
  }
  .ProductSectionSeeMoreButton {
    width: 219px;
    height: 68px;
    flex-shrink: 0;

    border-radius: 9.437px;
    border: 1.786px solid #343434;
    margin-top: 3.438rem;
    margin-left: 13.375rem;
  }
  .ProductSectionSeeMoreButton a {
    width: 160px;
    height: 36.881px;
    flex-shrink: 0;
    color: #111;
    font-family: Manrope;
    font-size: 26.796px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.938%;
    margin-right: 2.5rem;
  }

  .AppsgridContainer {
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;

    gap: 1rem;
  }

  .Appsgridimages {
    width: 100%;

    max-width: 220px;
    max-height: 160px;
    margin: 0;
    position: relative;
    flex-shrink: 0;
  }

  .AppsGridRight {
    margin-left: 0;
    gap: 1rem;
    align-items: flex-end;
    margin-bottom: 3rem;
  }
  .AppsName {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
  }
  .AppsStatBox {
    width: 78px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 8.847px;
    border: 1.712px solid white;
    margin-top: 0;
    color: #101010;
  }
  .AppsStats {
    margin-left: 0;

    margin-top: 0;
  }
  .AppsStatBox p {
    font-size: 10px;
  }
  .SeemoreButton {
    margin-left: 0;
    width: 100%;
  }

  .LoadMoreButton {
    width: 100%;
    padding: 15px 0;
  }
  .AppsGridRight {
    align-items: center;
    justify-content: center;
  }
  .LoadMoreButton {
    display: flex;
    width: 90px;
    height: 20px;

    margin-top: 0;
  }
  .LoadMoreButton a {
    width: 40px;

    font-size: 9.091px;
  }
}

/* 768px to 1023px (tablet to small desktop) */

.ProductsBottomSection {
  width: 100%;
  height: 60vw; /* Adjusted to fill the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 6rem;
  padding-bottom: 4rem;
}

/* Heading */
.ProductBottomheading {
  display: flex;
  width: 528px; /* approx */
  height: 492px; /* approx */
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 128px;
  font-weight: 800;
  line-height: 128%;
  text-transform: uppercase;
  background: linear-gradient(
    119deg,
    #fff 3.3%,
    #a7a7a7 41.66%,
    #7b7b7b 61.27%,
    #4f4f4f 97.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive adjustments */

.Block {
  display: block;
  text-align: center;
  font-family: Manrope;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: 128%; /* 163.84px */
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .ProductBottomheading {
    width: 100%;
    height: auto;
    font-size: 192px;
    line-height: 1.2;
    padding: 0 6rem;
  }

  .Block {
    font-size: 128px;
    line-height: 1.2;
  }
  .ProductsBottomSection {
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1280px) {
  .ProductBottomheading {
    width: 100%;
    height: auto;
    font-size: 128px;
    line-height: 1.2;
    padding: 0 4rem;
  }

  .Block {
    font-size: 96px;
    line-height: 1.2;
  }
  .ProductsBottomSection {
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1024px) {
  .ProductBottomheading {
    width: 100%;
    height: auto;
    font-size: 96px;
    line-height: 1.2;
    padding: 0 2rem;
  }

  .Block {
    font-size: 64px;
    line-height: 1.2;
  }
  .ProductsBottomSection {
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 768px) {
  .ProductBottomheading {
    width: 100%;
    height: auto;
    font-size: 64px;
    line-height: 1.2;
    padding: 0 1rem;
  }

  .Block {
    font-size: 32px;
    line-height: 1.2;
  }
  .ProductsBottomSection {
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.platformIcons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.platformIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
